body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 0;
}

.header{
    display: flex;
    padding: 10px 100px;
    justify-content: space-between;  
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #E5E7EB;
    gap: 16px;
    font-size: 18px;
}

.logo {
    margin-top: 0;
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.footer {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
}

.container1{
    padding: 80px 100px;
    display: flex;
    gap: 20px;
}

.box1_1 {
    flex: 1;
}
.main1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.box1_2,
.text1 {
    font-size: 18px;
    color: #E5E7EB;
}

.box1_2 {
    background-color: grey;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 25px;
    border-radius: 7px;
    color: white;
    background-color: #3882F6;
    margin-top: 10px;
    flex-shrink: 0;
}

.container2{
    background-color: white;
    padding: 30px 100px 80px 100px;
}

.main2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.outline {
    border-radius: 7px;
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}

.text2 {
    width: 150px;
    text-align: center;
}

.container3 {
    background-color: #E5E7EB;
    padding: 90px 130px 60px 130px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author {
    text-align: right;
    font-weight: bold;
}

.container4 {
    padding: 50px 100px;
    background-color: white;
}

.box4 {
    display: flex;
    padding: 30px 50px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
}

.main4 {
    font-weight: bold;
    font-size: 24px;
}

.container4 button {
    border: 1px solid white;
}